*{
    box-sizing: border-box;
}
body{
    font:12px "microsoft yahei",Arial,Helvetica,sans-serif;
}
body,ul,ol,p,h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
    list-style: none;
}
a{
    color:#666;
    text-decoration:none;
}
.lf{float:left;}
.rt{float:right;}
.clear:after{
    content:"";
    display: table;
    clear:both;
}


#top,#top_main,#nav,#nav_main,#main,#section,#foot-box,#foot-code,#footer{
    width:1200px;
    margin:0 auto;
}
/*菜单*/
#top .menu{
    float: right;
}
.menu li{
    float: right;
    width: 50px;
    height:65px;
    text-align: center;
    line-height: 62px;
    margin-left: 40px;
    border-top: 3px solid transparent;
}
.menu .menu_f2{
    margin-right: 70px;
}
.menu li:hover{
    border-top: 3px solid #BD0502;
}
.menu a:hover{
    color: #BD0502;
}
#bg_banner{
    position: relative;
    height: 700px;
}
#bg_banner li{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align:center;
    line-height:18px;
    color:#000;
    margin-right:10px;
    float:left;
}
#bg_banner>img{
    width: 100%;
    height: 700px;
    position: absolute;
    z-index: -1;
}
#bg_banner> img.active {  /*显示在最上方的广告图片*/
    z-index: auto;
}
#bg_banner ul{
    position:absolute;
    left:49%;
    bottom: 20px;
}
#bg_banner ul li.active {  /*当前显示出来的序号*/
    background: #FFF;
}
#msg{
    width: 600px;
    height: 400px;
    background-color: #000;
    opacity: 0.7;
    color:#fff;
    position: fixed;
    right: 35%;
    bottom: 30%;

}
#msg h1{
    text-align: center;
    opacity: 1;
    margin: 30px 0;
}
#msg ul li{
    font-size: 20px;
    line-height: 35px;
}
#msg a{
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    background-color: greenyellow;
    text-align: center;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
    opacity: 1;
}



/*模块6：战略合作伙伴*/
#foot-box h1{
    font-size: 28px;
    font-weight: normal;
    color:#4F4F4F;
    text-align: center;
    margin-top: 100px;
}
#foot-box>p {
    color: #A9A9A9;
    text-align: center;
    margin: 10px 0;
}
#foot-box i{
    display: block;
    width: 70px;
    margin:0 auto;
    margin-bottom:60px;
    border-bottom: 2px solid #A9A9A9;
}
.foot_box_list_img li{
    float: left;
    width: 300px;
    text-align: center;
    border: 1px solid #BD0502;
    margin-left: 75px;
}
.foot_box_list_connection_img{
    margin-top: 50px;
}
.foot_box_list_connection_img li{
    float: left;
    width: 300px;
    height: 125px;
    text-align: center;
    margin-left: 75px;
}
.foot_box_txt{
    margin-bottom: 50px;
}
.foot_box_txt li{
    float: left;
    width: 300px;
    text-align: center;
    margin-left: 75px;
}
.foot_box_txt>li>h2{
    color:#666;
    margin: 25px 0;
}
.foot_box_txt>li>p{
    color:#666;
}
/*模块七：公司二维码*/
#foot_bg{
    background-color:#E6E6E6;
}
#foot-code h1{
    font-size: 28px;
    font-weight: normal;
    color:#4F4F4F;
    text-align: center;
    padding-top:50px;
}
#foot-code i{
    display: block;
    width: 40px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    border-bottom: 3px solid #000;
}
#foot-code p{
    text-align: center;
    padding-bottom: 50px;
}
/*模块8：版权所有*/
#footer_bg{
    background-color: #B31D1F;
}
#footer p{
    height: 40px;
    line-height: 40px;
    text-align: center;
}