@charset "utf-8";
* {
  box-sizing: border-box;
}
html {
  font-size: 625%;
}
body {
  border: 0;
  font: normal 100% Arial, sans-serif;
  font-family: "Microsoft Yahei", Arial;
  font-size: 0.14rem;
  font-size: 14px;
  background: #fff;
  color: #333333;
  width: 100%;
  min-width: 1100px;
}
ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
a {
  color: inherit;
  cursor: pointer;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
input:focus {
  outline: 0;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.box-center {
  display: flex;
  align-items: center;
}
.box-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.cur {
  cursor: pointer;
}
.cur-hover {
  cursor: pointer;
}
.cur-hover:hover {
  box-shadow: 0px 0px 1px 1px #ccc;
}
.row {
  margin: 0;
}
.ellipsis {
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.b {
  font-weight: bold;
}
.clear:after {
  content: "";
  display: table;
  clear: both;
}
body,
ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}
#header {
  height: 164px;
  background: url("../imgs/bg_rent.jpg") no-repeat;
  background-size: 100% 164px;
}
#header h1 {
  color: #fff;
  font-size: 34px;
  font-weight: normal;
  height: 130px;
  line-height: 130px;
  margin-left: calc(10% + 100% * 0.8 /14 - 18px);
  margin-left: -webkit-calc(10% + 100% * 0.8 /14 - 18px);
  margin-top: 0;
}
#header .nav {
  background: rgba(0, 0, 0, 0.4);
  height: 34px;
  line-height: 34px;
  font-size: 16px;
  color: #d8d8d8;
  padding: 0 10%;
}
#header .nav .menu li {
  float: left;
  padding: 0 10px;
}
#header .nav .menu li a:hover {
  color: #fff;
}
#header .nav .personal {
  float: right;
}
#header .nav .personal a {
  padding: 0 10px;
  cursor: pointer;
}
#header .nav .personal a:hover {
  color: #fff;
}
#nav {
  background-color: #0168B7;
}
#nav .menu {
  width: 80%;
  margin: 0 auto;
  height: 40px;
}
#nav .menu li {
  float: left;
  width: calc(100% / 8 - 1px);
  width: -webkit-calc(100% / 8 - 1px);
  text-align: center;
  height: 45px;
  line-height: 45px;
}
#nav .menu li a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
#nav .menu li:last-child {
  margin-right: 0;
}
#nav .menu .active {
  display: block;
  height: 45px;
  background-color: #fff;
  color: #427AB7;
}
/*页角*/
#footer {
  font-size: 14px;
  height: 180px;
  background-color: #0168B7;
  padding-top: 57px;
}
#footer .footer-text li {
  height: 22px;
  line-height: 22px;
  text-align: center;
  color: #fff;
}
section {
  width: 60%;
  min-height: calc(100vh - 237px - 130px - 45px);
  min-height: -webkit-calc(100vh - 237px - 130px - 45px);
  margin: 0 auto;
}
form {
  padding: 30px 0;
}
form .form-group input {
  width: 400px;
}
form .form-group.button div a {
  display: block;
  width: 300px;
  margin: 0 auto;
}
form .form-group .control-mes {
  padding: 7px 15px 7px 20px;
}
form li.form-group {
  margin-bottom: 5px;
}
.modal form {
  padding: 0;
}
.form-horizontal .control-label {
  padding-top: 7px;
  text-align: right;
  margin-bottom: 0;
}
