@font-face {
  font-family: '华文行楷';
  src: url('../fonts/华文行楷.ttf');
}
body{
  font-family: '华文行楷';
  margin-top: 70px;
  margin-bottom: 70px;
}

.center-start .panel-heading{
  text-align: center;
}

.footer-menu{
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu li{
  display: inline-block;
  width: 30%;
  text-align: center;
  line-height: 60px;
}








